<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Give book</title>
</head>
<body>
<form action="#" th:action="@{/librarian/give-book}" th:object="${issue}" method="post">
    <table>
        <tr>
            <td>User:</td>
            <td>
                <select name="userId">
                    <option value="">-- Select User --</option>
                    <option th:each="user : ${users}" th:value="${user.idp}" th:text="${user.name + ' ' + user.surname}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Librarian:</td>
            <td>
                <select name="librarianId">
                    <option value="">-- Select Librarian --</option>
                    <option th:each="librarian : ${librarians}" th:value="${librarian.idp}" th:text="${librarian.name + ' ' + librarian.surname}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Book:</td>
            <td>
                <select name="exemplarId">
                    <option value="">-- Select Book --</option>
                    <option th:each="book : ${books}" th:value="${book.idb}" th:text="${book.title}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><button type="submit">Give Book</button></td>
        </tr>
    </table>
</form>

</body>
</html>