<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>One product</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>
<body>
<table>
    <tr>
        <th>Book id</th>
        <th>Title</th>
        <th>Author name and surname</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Writing year</th>
        <th>Quantity</th>
    </tr>
    <tr>
        <td th:text="${book.getIdb()}"></td>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getAuthor().getName()} + ' ' + ${book.getAuthor().getSurname()}"> </td>
        <td th:text="${book.getGenre()}"></td>
        <td th:text="${book.getDescription()}"></td>
        <td th:text="${book.getWritingYear()}"></td>
        <td th:text="${book.getQuantity()} + 'x'"></td>
    </tr>
</table>
</body>
</html>