<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>One author</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>
<body>
<table>
    <tr>
        <th>Author id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Date of birth</th>
        <th>Date of death</th>
    </tr>
    <tr>
        <td th:text="${author.getIdp()}"></td>
        <td th:text="${author.getName()}"></td>
        <td th:text="${author.getSurname()}"></td>
        <td th:text="${author.getDateOfBirth()}"></td>
        <td th:text="${author.getDateOfDeath()}"></td>
    </tr>
</table>
</body>
</html>